.login {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    align-items: center;
    margin-bottom: 40px;
}

.form {
    display: flex;
    flex-direction: column;

    input {
        margin: 12px 0;
        width: 280px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding: 12px 22px;
        font-size: 1.6rem;
    }

    button {
        margin-top: 30px;
        padding: 12px 0;
        font-size: 1.6rem;
    }
}

.title {
    font-size: 5rem;
    margin-bottom: 30px;
}