.bill {
    width: 830px;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    background-color: #fff;
    padding: 30px 45px;
    overflow: hidden;
    border-radius: 25px;
}

.title {
    text-align: center;
    float: left;
    font-size: 3.6rem;
    vertical-align: center;
}

.id-wrapper {
    float: right;
    border: 1px solid rgb(255, 118, 118);
    border-radius: 15px;
    padding: 8px 15px;
}

.id {
    font-size: 2.6rem;
    color: rgb(255, 118, 118);
}

.sender {
    font-size: 1.4rem;
    margin-top: 5px;
}

.address {
    font-weight: 500;
}

.date {
    font-size: 1.4rem;
    font-style: italic;
}

.attachments-wrapper, .bills-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.attachments-wrapper {
    border-top: thin solid rgb(230, 230, 230);
    margin-top: 20px;
}

.attachments-span, .bills-span {
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.5rem;
}

.box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.content {
    margin-top: 10px;
}

.info {
    margin-top: 30px;
    display: flex;
    background: #e7f9ff;
    padding: 10px 20px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.info-column {
    display: flex;
    flex-direction: column;
}

.info-data {
    font-weight: 600;
}

.seller, .buyer {
    margin-top: 20px;
    font-size: 1.4rem;
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;

    span {
        font-weight: 600;
        color: rgb(68, 68, 216);
    }
}

.buyer {
    margin-top: 15px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
}

.sub-header-row {
    font-weight: 700;
}

.services {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #333;
    font-size: 1.4rem;

    td, th {
        border: 1px solid rgb(219, 219, 219);
        padding: 5px 10px;
    }

    td {
        text-align: center;
    }

    th {
        background-color: rgb(233, 233, 233);
    }

    .align-right {
        text-align: right;
    }

    .align-left {
        text-align: left;
    }
}

.total-in-words {
    font-weight: 700;
}

.signing {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.seller-signing, .buyer-signing {
    margin: 0 50px;
    margin-bottom: 50px;
}