.robot-wrapper {
    position: relative;
}

@keyframes bounce {
    50% {
        transform: translateY(-15px);
    }
}

.robot {
    animation: bounce 1.6s ease-in-out infinite;
    position: absolute;
    left: 25%;
}