.attachment {
    display: flex;
    align-items: center;
    border-radius: 15px;
    box-shadow: inset 0 0 0 1px rgba(100,121,143,0.302);
    color: #5f6368;
    height: 30px;
    padding: 0 12px;
    margin-right: 8px;
    max-width: 140px;
    min-width: 64px;
    background-color: transparent;
    margin-top: 10px;

    &:hover {
        background-color: rgba(128,134,139,0.039);
    }
}

.icon {
    height: 16px;
    margin-right: 8px;
    width: 16px;
    -webkit-box-flex: 0 0 16px;
    -webkit-flex: 0 0 16px;
    flex: 0 0 16px;

    overflow-clip-margin: content-box;
    overflow: clip;
}

.filename {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    font-size: 1.4rem;
    letter-spacing: normal;
}