.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 80px;
    text-align: center;
    align-items: center;
}

.title {
    font-size: 6rem;
    margin-bottom: 50px;
}

.back-btn {
    width: fit-content;
    border-radius: 30px;
    padding: 8px 24px;
    font-weight: 600;
    margin: 0 50px;
    margin-top: 50px;
    font-size: 2rem;
    color: #fff;
    background-color: rgb(63, 125, 250);

    &:hover {
        background-color: rgb(12, 92, 253);
    }
}