.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.bizzi-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 30px 50px;
    width: 1000px;
    height: 550px;
    border-radius: 30px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.robot {
    margin: 0;
    margin-left: 50px;
}