.home {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 40px;
    margin-right: 50px;

    .navigate-btn {
        margin: auto;
        margin-top: 20px;
        padding: 8px 0;
        width: 120px;
        font-size: 1.8rem;
        text-align: center;
        display: inline-block;
    }

    .logout-btn {
        margin-top: 20px;
        padding: 8px 0;
        font-size: 1.8rem;
        width: 120px;
        background-color: transparent;
        border: 1px solid rgb(63, 125, 250);
        color: rgb(63, 125, 250);
        margin-left: 35px;
    }

    .logout-btn:hover {
        background-color: rgb(63, 125, 250);
        color: #fff;
    }
}

.btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    display: inline-block;
    width: 100%;
    margin: auto;
    font-size: 5rem;
    margin-bottom: 20px;
    text-align: center;
}

.navigate-btn {
    border-radius: 20px;
    padding: 10px 16px;
    color: #fff;
    background-color: rgb(63, 125, 250);
    font-weight: 600;
    outline: none;
    border: none;
    font-family: var(--default-font-family);
    cursor: pointer;

    &:hover {
        background-color: rgb(12, 92, 253);
    }
}