.details-wrapper {
    width: 830px;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    background-color: #fff;
    padding: 30px 45px;
    overflow: hidden;
    border-radius: 25px;
}

.title {
    text-align: center;
}

.subject {
    font-size: 2.2rem;
    margin-top: 15px;
}

.sender {
    font-size: 1.4rem;
    margin-top: 5px;
}

.address {
    font-weight: 500;
}

.date {
    font-size: 1.4rem;
    font-style: italic;
}

.attachments-wrapper, .bills-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.attachments-wrapper {
    border-top: thin solid rgb(230, 230, 230);
    margin-top: 20px;
}

.attachments-span, .bills-span {
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.5rem;
}

.box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.content {
    margin-top: 10px;
}