.email-wrapper {
    width: 800px;
    display: grid;
    grid-template-columns: 150px auto;
    margin: 15px 0;
    background-color: #fff;
    padding: 20px 25px;
    gap: 40px;
    overflow: hidden;
    border-radius: 25px;
    color: inherit;

    &:hover {
        box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
        z-index: 2;
    }
}

.sender {
    font-size: 1.4rem;
}

.date {
    font-size: 1.2rem;
    font-style: italic;
}

.sender, .subject {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.4rem;
    width: 100%;
}

.content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.snippet {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    text-align: left;
    font-size: 1.4rem;
}

.attachments-wrapper {
    display: flex;
    margin-top: 15px;
}