.bill {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: inset 0 0 0 1px rgba(100,121,143,0.302);
    color: #5f6368;
    padding: 0 12px;
    margin-right: 8px;
    width: 96px;
    padding: 15px;
    background-color: transparent;
    margin-right: 20px;

    &:hover {
        background-color: rgba(128,134,139,0.039);
    }
}

.bill-id {
    margin-top: 10px;
    width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: normal;
}